/                                             @rrajore @pperycz @jakubsikorski @ikyrycho @xwu2intel
/README.md                                    @rrajore @pperycz @jakubsikorski @ikyrycho @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/handheld-multi-modal/                        @rrajore @pperycz @jakubsikorski @ikyrycho @kpuczyns @xwu2intel
/handheld-multi-modal/docs/                   @rrajore @pperycz @jakubsikorski @ikyrycho @kpuczyns @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/handheld-multi-modal/README.md               @rrajore @pperycz @jakubsikorski @ikyrycho @kpuczyns @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/deterministic-threat-detection/              @rrajore @sugnanprabhu @ajagadi1 @xwu2intel
/deterministic-threat-detection/docs/         @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/deterministic-threat-detection/README.md     @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @open-edge-platform/open-edge-platform-docs-write
/uav-vision-analytics                         @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @pperycz
/uav-vision-analytics/docs/                   @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @pperycz @open-edge-platform/open-edge-platform-docs-write
/uav-vision-analytics/README.md               @rrajore @sugnanprabhu @ajagadi1 @xwu2intel @pperycz @open-edge-platform/open-edge-platform-docs-write
/uav-mission-compute-sdk                      @k-mochi @nathsudi @rranjan3 @pperycz @abjyoti
/uav-mission-compute-sdk/docs/                @k-mochi @nathsudi @rranjan3 @pperycz @abjyoti @open-edge-platform/open-edge-platform-docs-write
/uav-mission-compute-sdk/README.md            @k-mochi @nathsudi @rranjan3 @pperycz @abjyoti @open-edge-platform/open-edge-platform-docs-write
LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel @open-edge-platform/open-edge-platform-docs-write
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel @open-edge-platform/open-edge-platform-docs-write
